#!/bin/bash
# Reset and apply UFW rules

sudo ufw --force reset

# 10.{{ admin_subnet }}.0.0/16 Admin
sudo ufw allow from 10.{{ admin_subnet }}.0.0/16 to any port 2223 proto tcp

# 10.{{ ceph_public_subnet }}.0.0/16 Ceph public
sudo ufw allow from 10.{{ ceph_public_subnet }}.0.0/16 to any port 2223 proto tcp

# 10.{{ ceph_cluster_subnet }}.0.0/16 Ceph cluster
sudo ufw allow from 10.{{ ceph_cluster_subnet }}.0.0/16 to any port 2223 proto tcp

# 10.{{ ceph_management_subnet }}.0.0/16 Ceph management
sudo ufw allow from 10.{{ ceph_management_subnet }}.0.0/16 to any port 2223 proto tcp

# 10.{{ mongo_mongos_subnet }}.0.0/16 Mongo mongos
sudo ufw allow from 10.{{ mongo_mongos_subnet }}.0.0/16 to any port 2223 proto tcp

# 10.{{ mongo_shard_subnet }}.0.0/16 Mongo shard
sudo ufw allow from 10.{{ mongo_shard_subnet }}.0.0/16 to any port 2223 proto tcp

# 10.{{ mongo_config_subnet }}.0.0/16 Mongo config
sudo ufw allow from 10.{{ mongo_config_subnet }}.0.0/16 to any port 2223 proto tcp
