#!/bin/bash

# 10.{{ mongo_config_subnet }}.0.0/16 Mongo config
sudo ufw allow from 10.{{ mongo_config_subnet }}.0.0/16 to any port 27019 proto tcp
sudo ufw allow from 10.{{ mongo_config_subnet }}.0.0/16 to any port 27020 proto tcp
sudo ufw allow from 10.{{ mongo_config_subnet }}.0.0/16 to any port 27021 proto tcp
