source /etc/network/interfaces.d/*

# The loopback network interface
auto lo
iface lo inet loopback

# Admin Bridge
auto br-admin
iface br-admin inet dhcp
    bridge_ports enp30s0
    bridge_stp off
    bridge_fd 0
    bridge_maxwait 0
    up ip addr add 10.{{ admin_subnet }}.0.{{ ansible_host.split('.')[-1] }}/16 dev br-admin

{% if network.ceph_public %}
# Ceph Public Bridge
auto br-ceph-public
iface br-ceph-public inet static
    address 10.{{ ceph_public_subnet }}.0.{{ ansible_host.split('.')[-1] }}
    netmask 255.255.0.0
    bridge_ports none
    bridge_stp off
    bridge_fd 0
    bridge_maxwait 0
    
{% endif %}
{% if network.ceph_cluster %}
# Ceph Cluster Bridge
auto br-ceph-cluster
iface br-ceph-cluster inet static
    address 10.{{ ceph_cluster_subnet }}.0.{{ ansible_host.split('.')[-1] }}
    netmask 255.255.0.0
    bridge_ports none
    bridge_stp off
    bridge_fd 0
    bridge_maxwait 0

{% endif %}
{% if network.ceph_mgmt %}
# Ceph Management Bridge
auto br-ceph-management
iface br-ceph-management inet static
    address 10.{{ ceph_management_subnet }}.0.{{ ansible_host.split('.')[-1] }}
    netmask 255.255.0.0
    bridge_ports none
    bridge_stp off
    bridge_fd 0
    bridge_maxwait 0

{% endif %}
{% if network.mongo_mongos %}
# Mongo Mongos Bridge
auto br-mongo-mongos
iface br-mongo-mongos inet static
    address 10.{{ mongo_mongos_subnet }}.0.{{ ansible_host.split('.')[-1] }}
    netmask 255.255.0.0
    bridge_ports none
    bridge_stp off
    bridge_fd 0
    
{% endif %}
{% if network.mongo_shard %}
# Mongo Shard Bridge
auto br-mongo-shard
iface br-mongo-shard inet static
    address 10.{{ mongo_shard_subnet }}.0.{{ ansible_host.split('.')[-1] }}
    netmask 255.255.0.0
    bridge_ports none
    bridge_stp off
    bridge_fd 0
    
{% endif %}
{% if network.mongo_config %}
# Mongo Config Bridge
auto br-mongo-config
iface br-mongo-config inet static
    address 10.{{ mongo_config_subnet }}.0.{{ ansible_host.split('.')[-1] }}
    netmask 255.255.0.0
    bridge_ports none
    bridge_stp off
    bridge_fd 0

{% endif %}